.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .child {
    max-width: 900px;
    width: 90%;
    padding: 30px;
    text-align: center;
    // background-color: lightgray;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  }

  .post-caption {
    font-size: 50px;
    margin-bottom: 50px;
    background-image: linear-gradient(0deg, rgba(231,90,238,1) 0%, rgb(42,187,40,1) 68%);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text; /* For older webkit browsers */
  }


  .form-input {
    margin-bottom: 40px;
    mat-form-field {
      width: 90%;
    }
  }

}

.login-form-button {
  width: 25%;
  background-color: #27c734;
  color: white;
  font-size: large;
  font-weight: bold;
}

.custom-file {
  margin: 20px; /* Adjust margin as needed */
}

.custom-file-input {
  display: none;
}

.custom-file-input-label {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(249, 249, 249, 0.92);
  cursor: pointer;
  color: #838080;
}
